# SERVER CONFIGURATION
PORT=3000
SESSION_SECRET='session_secret'

# DB
PGHOST='localhost'
PGUSER=''
PGDATABASE=''
PGPASSWORD=''
PGPORT=5432

# Stripe
STRIPE_SECRET_KEY='your_key_here_stripes_sk_test_prefix'